.hide{
    display:none;
}

body{
    background-color:#dcf1f9 ;
}

h1{
    color:#012059;;
    font-family: Verdana;
}

.enter,.roll_to_start{
    color: #b3004d;
    font-size:larger;
}

.score1,.score2{
    color: #012059;
}
button{
    background-color:rgb(250, 159, 209);
    color: white;
}

.theDie{
    background-color: white;
    border: solid 5px white;
}

.round_no{
    padding-left: 1%;
    background-color:white;
    color:#012059;
}
.scoren1,.scoren2{
    color: #b3004d;
    font-size: medium;
}

.roll1,.roll2{
    color:#012b79
}
.winbox{
    padding-left: 30px;
    color:#990043;
    border: dotted 3px white;
}
.round_win{
    padding-left: 10px;
    color:#990043;
    border: dotted 3px white;
}
.who_turn,.dice_no{
    color:#011335;
}
span {
    margin-left: 3%;
}

b{
    margin-left: 1%;
}

.who_turn{
    text-decoration: underline;
}